body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-left: 2px double black;
    border-right: 2px double black; 
    position: absolute;
    padding:0px 30% 0px 30%;
    text-align: center;
    left: 10%;
}
h1{
    
}
.i a {
    text-decoration: none;
    color: rgb(12, 12, 0);
   
    
    

}
.ii {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c2efe8;
  border: 1px solid #3ebca7;
  border-radius: 10px;
  min-width: 250px;
  z-index: 1;
  display: none;
  padding: 30px 0;
}
.iii {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c2efe8;
  border: 1px solid #3eb9a4;
  border-radius: 10px;
  min-width: 250px;
  z-index: 1;
  display: none;
  padding: 30px 0;
}
.iiiii {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c2efe8;
  border: 1px solid #42e7cb;
  border-radius: 10px;
  min-width: 400px;
  z-index: 1;
  display: none;
  padding: 35px 0;
  
}
.iu {
  position: relative;
  
  cursor: pointer;
  padding: 10px;
  color: white;
}
.iuu {
  position: relative;
 
  cursor: pointer;
  padding: 10px;
  color: white;
}
.iuuu {
  position: relative;
 
  cursor: pointer;
  padding: 10px;
  color: white;
}
.iu:hover  .ii {
  display: block;
}
.iuu:hover  .iii {
  display: block;
}
.iuuu:hover  .iiiii{
  display: block;
}
.iii a{
  margin-right: 10px;

}
.iiiii a{
   margin-right: 10px;
}
.ii a{
   margin-right: 10px;
}
img{
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  left: 40px;
  margin-bottom: 50px;
}
.r{
  left: 15px;
  opacity: 0.5;
  z-index: 0;
  

}
.rr{
  left: 30px;
  bottom:  70px;
  opacity: 0.5;
  z-index: 0;

}
.rrr{
  left: 50px;
  bottom:  140px;
  opacity: 0.5;
  z-index: 0;

}
main a:hover ,  main img:hover{
  z-index: 1;
  opacity: 1;
 
}


.o{
  margin-top: 60px;
}
a{
  text-decoration: none;
  color: rgb(1, 10, 4);
  margin-right: 25px;
}
main a{
  opacity: 0.5;
}
.w{
  left: 15px;
  opacity: 0.5;

}
.ww{
  left: 35px;
  bottom: 70px;
  opacity: 0.5;
}
.www{
  left: 50px;
  bottom: 140px;
  opacity: 0.5;
}
.wwww{
  left: 70px;
  bottom: 210px;
  opacity: 0.5;
}
.f{
   left: 15px;
  opacity: 0.5;

}
.ff{
  left: 35px;
  bottom: 70px;
  opacity: 0.5;
}

.fff{
  left: 50px;
  bottom: 140px;
  opacity: 0.5;
}

.ffff{
   left: 70px;
  bottom: 210px;
  opacity: 0.5;
}

.fffff{
   left: 90px;
  bottom: 280px;
  opacity: 0.5;
}
footer a{
  position: absolute;

  
}

.d{
  
  display: flex;
  flex-direction: column;

 
}
.s{
 display: flex;
  flex-direction: column;
}
p{
  width: 500px;
}
